:root,
* {
  font-family: "Poppins", sans-serif;
  --dark-color: #333333;
  --medium-color: #fbe013;
  --light-color: #ffffff;
  --button-color: #e6e6e6;
  --green-color: #a5dfa5;
}

body {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 48px calc(16px * 10) 1fr;
  background-color: var(--light-color);
}

#menu,
#todos-area-div {
  overflow-y: scroll;
}

/* HEADER ******************************************************************* */
header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--medium-color);
  color: var(--dark-color);
  text-align: center;
  font-family: Pacifico, sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
}

/* MENU ********************************************************************* */

#menu {
  padding: 8px;
}

#menu,
#user-projects {
  display: grid;
  grid-template-columns: 1fr;
  gap: 4px;
}

#default-project,
.project,
#add-project {
  height: 40px;
}

#default-project,
#add-project {
  display: grid;
}

#default-project button {
  border-radius: 8px;
  text-align: left;
  padding: 0 16px;
}

.project,
.rename-form,
#add-project form {
  display: grid;
  grid-template-columns: 1fr repeat(2, 50px);
}

.project-name,
.rename-input,
#new-project-name-input {
  text-align: left;
  padding: 0 16px;
  border-radius: 8px 0 0 8px;
}

.rename-project,
.rename-submit,
#new-project-submit {
  border-radius: 0 !important;
}

.remove-project,
.rename-cancel,
#new-project-cancel {
  border-radius: 0 8px 8px 0 !important;
}

#add-project button {
  border-radius: 8px;
  padding: 0 16px;
  border: none;
  background-color: var(--green-color);
  color: var(--dark-color);
  font-weight: bold;
}

#renaming {
  grid-template-columns: 1fr;
}

#default-project button,
.project-name,
.rename-input,
.rename-project,
.rename-submit,
.remove-project,
.rename-cancel {
  border: none;
  background-color: var(--button-color);
}

.rename-submit,
.rename-cancel {
  font-weight: bold;
}

/* To Dos ******************************************************************* */
#current-project {
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 32px;
  font-weight: bold;
  background-color: var(--medium-color);
}

#todo-items {
  display: flex;
  flex-flow: column;
  gap: 16px;
  padding: 16px;
}

.todo-item {
  display: flex;
  flex-flow: column;
  gap: 2px;
  background-color: var(--button-color);
  padding: 4px;
  border-radius: 8px;
}

.todo-details {
  display: grid;
  gap: 2px;
  grid-template-columns: 30px 7fr 4fr 30px 30px;
}

.todo-description {
  display: flex;
  align-items: center;
  justify-content: center;
}

.description {
  width: 100%;
  resize: none;
}

.description:focus {
  height: 64px;
}

.todo-details .title {
  font-weight: bold;
  padding: 0 8px;
  min-width: 0;
}

.todo-details button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  padding: 0 8px;
  background-color: #ffffff;
}

.todo-details .title,
.todo-details .dueDate,
.description {
  border: none;
}

.item-checkbox {
  background-color: #fff;
  border-radius: 4px 0 0 0;
}

.remove-todo {
  border-radius: 0 4px 0 0;
}

.description {
  border-radius: 0 0 4px 4px;
}

#add-todo-item {
  border-radius: 8px;
  padding: 0 16px;
  border: none;
  background-color: var(--green-color);
  color: var(--dark-color);
  font-weight: bold;
  height: 32px;
}

@media (min-width: 700px) {
  body {
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 48px 1fr;
  }

  header {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
  }

  #menu {
    grid-column: 1 / 2;
    grid-row: 2 / -1;
  }

  #todos-area-div {
    grid-column: 2 / -1;
    grid-row: 2 / -1;
  }

  #current-project {
    background-color: var(--button-color);
  }
}
